//colors

$color_black: #000;
$color_white: #fff;
$color_grey: #f5f5f5;
$color_border: #949494;
$color_border_alt: #e7e7e7;
$color_accent_border: #febb02;
$color_action_border: #0071c2;
$color_callout_border: #ff8000;
$color_border_disabled: #d9d9d9;
$color_destructive_border: #c00;
$color_constructive_border: #008009;
$color_background: #494949;
$color_transparent: transparent;
$color_background_alt: #f2f2f2;
$color_cta_background: #0071c2;
$color_background_base: #fff;
$color_black_with_alpha: rgba(0, 0, 0, 0.5);
$color_accent_background: #febb02;
$color_action_background: #0071c2;
$color_callout_background: #ff8000;
$color_background_base_alt: #f2f2f2;
$color_background_disabled: #d9d9d9;
$color_background_inverted: #171717;
$color_accent_background_alt: #fdf4d8;
$color_action_background_alt: #e4f4ff;
$color_callout_background_alt: #fff0e0;
$color_destructive_background: #c00;
$color_background_disabled_alt: #f2f2f2;
$color_constructive_background: #008009;
$color_brand_primary_background: #003580;
$color_destructive_background_alt: #fff0f0;
$color_constructive_background_alt: #e7fde9;
$color_brand_genius_primary_background: #004cb8;
$color_foreground: #262626;
$color_foreground_alt: #6b6b6b;
$color_accent_foreground: #8e6601;
$color_action_foreground: #0071c2;
$color_callout_foreground: #923e01;
$color_foreground_disabled: #949494;
$color_foreground_inverted: #f2f2f2;
$color_destructive_foreground: #c00;
$color_constructive_foreground: #008009;
$color_foreground_disabled_alt: #d9d9d9;
$color_brand_primary_foreground: #003580;
$color_action_foreground_inverted: #3daeff;
$color_brand_genius_secondary_foreground: #febb02;
$color_highlighted: #cbcbcb;
$color_action_focus: rgba(0, 113, 194, 0.24);
$color_cta_highlighted: #00487a;
$color_highlighted_alt: rgba(0, 0, 0, 0.06);
$color_destructive_focus: rgba(204, 0, 0, 0.24);
$color_action_highlighted: #00487a;
$color_action_highlighted_alt: rgba(0, 113, 194, 0.06);
$color_destructive_highlighted: #8a0000;
$color_destructive_highlighted_alt: rgba(204, 0, 0, 0.06);
$color_on_background: #fff;
$color_on_cta_background: #fff;
$color_on_accent_background: #262626;
$color_on_action_background: #fff;
$color_on_callout_background: #262626;
$color_on_destructive_background: #fff;
$color_on_constructive_background: #fff;
$color_on_brand_primary_background: #fff;
$color_on_brand_genius_primary_background: #fff;
$color_background_elevation_one: #fff;
$color_background_elevation_two: #fff;



//Font
$default-font-size: 1rem;